
* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    position: sticky;
    top: 5px;
    width: 100%;
    text-align: right;
}

main {
    border: 1px solid black;

}

header>div {
    margin: 10px;
    border: 1px solid black;
}

ul {
    margin: 10px;
    background-color: red;
}

li {
    display: inline;

}
